body {background-color:black;font-family:arial;color:white}

h1{color:gray;font-family:verdana}

.maindiv{
    background-color: white;
    color:black;
    width:500px;
    padding: 20px;
    border-radius: 25px;
}

table{width:70%; height:100px; margin:auto;} /*To center the table*/

section{margin-left:75px;} /*To push the button and output text to the right aligning with table*/


